/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

* {
  font-family: Tahoma;
}
body{
  background-image: url(images/desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.windows {
  display: flex;
  flex-direction:column;
}

.navicons {
  display: flex;
  justify-content: start;
  margin-top: 30px;
}

.navicons a {
  text-decoration: none;
}

.boxnav1 img, .boxnav2 img {
  width: 50px;
  height: 50px;
}
.navicons figcaption, .navicons figcaption {
  color: #ffffff;
  -webkit-text-stroke: 0.04em black;
  text-shadow: black 1.5px 1.5px 1.5px;
}

#title {
  background-image: url(images/titlewxp.png);
  padding: auto;
  background-repeat: no-repeat;
  background-size: auto auto;
  width:623px;
  height: 170px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: left;;
  padding-top: 10px;
}

#taskbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#taskbar img {
  width: 100vw;
  min-width: 1300px;
}


#error {
  width: 400px;
  height: 150px;
  padding:10px;
  background-image: url(images/errorwindow.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 18px;
  font-family: Tahoma;
  align-self: center;
}
#error p {
  font-family: Tahoma;
  font-size: 15px;
  margin-top: 5px;
}
.button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #000;
  box-shadow: inset 1px 1px 1px #ffffff 
            , inset -1px -1px 1px #000000;
  text-decoration: none;
  color: black;
}
.button:hover {
  background-color: #f3f3ef;
  box-shadow: inset 1px 1px 1px rgb(96, 157, 255) 
            , inset -1px -1px 1px rgb(96, 157, 255) ;
}
#likes {
  background-image: url(images/likeswindow.png);
  background-repeat: no-repeat;
  background-size: fill;
  margin-top: 40px;
  margin-right: 5%;
  width: 713px; /* 713px */
  height: 310px; /* 310px */
  display: flex;
  flex-direction: column;
}
#likes h2 {
  font-family: Tahoma;
  font-size: 25px;
  margin-top: 50px;
  text-align: center;
}
#likes ul {
  font-family: Tahoma;
  font-size: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
#likes .button { 
  align-self: center;
  justify-self: center;
  margin-top: 50px;
}

#catwin{
  width: 500px;
  margin-right: 5%;
  margin-bottom: 40px;
}

#bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}